a {
  text-decoration: none !important;  
}

.loader {
    margin: 5% 41%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .lds-circle {
    height: 200px;
    display: inline-block;
    transform: translateZ(1px);
    padding: 54px 57px 69px 116px;
  }
  .lds-circle > div {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    border-radius: 50%;
    background: #fdd;
    animation: lds-circle 6.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  

  /* index page css */
  .inonerow{
    display: flex;
    flex-flow: row;
    overflow: scroll;;   
   }
   .setimagewidth{
    width:240px
   }
   ul.pagination{
     margin-top: 20px;
     justify-content: center;
     align-items: center;
     padding: 15px;
     box-shadow: 0px 0px 10px #7a7b7b45;
   }
   .pagination>li.active>a {
    border-radius: 50% !important;margin: 0 5px; background-color: #17bcde; padding: 8px 11px;color:white;
   }
   .pagination>li>a {
      border-radius: 50% !important;margin: 0 5px;
     }

     ::-webkit-scrollbar {
      width: 0px; 
      background: transparent; 
      }
      
      ::-webkit-scrollbar-thumb {
      background: transparent;
      width: 0px;
      }



      /* /// POPUP screeb */

      .box {
        width: 40%;
        margin: 0 auto;
        background: rgba(255,255,255,0.2);
        padding: 35px;
        border: 2px solid #fff;
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
      }
      
      .button {
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border: 2px solid #06D85F;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
      .button:hover {
        background: #06D85F;
      }
      
      .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        /* visibility: hidden; */
        opacity: 100000;
      }
      .overlay:target {
        visibility: visible;
        opacity: 1;
      }
      
      .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
      }
      
      .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
      }
      .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
      }
      .popup .close:hover {
        color: #06D85F;
      }
      .popup .content {
        max-height: 30%;
        overflow: auto;
      }
      
      @media screen and (max-width: 700px){
        .box{
          width: 70%;
        }
        .popup{
          width: 70%;
        }
      }